footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2E34A6;
}

footer .seccondary{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .menu{
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #04D9D9;
    padding: 20px;
    gap: 8px;
    border-bottom: 1px solid #04D9D9;
    justify-items: center;
}


footer .menu a{
    text-decoration: none;
    color: white;
}
footer .seccondary{
    width: 100%;
}

footer .seccondary img{
    padding: 20px;
}

footer .social{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #04D9D9;
}

footer .info p{
    color: white;
    font-size: 10px;
    padding: 15px;
}

footer .final{
    width: 100%;
    background-color: #15038C;
}

footer .final p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 5px;
    margin: 10px;
}