.container {
    margin: 0 24px;
}
.hero {
    background-color: #CEE1F2;
    display: flex;
    flex-direction: column;
}

.hero .content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero .hero-img{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero .content .title{
    color: #2E34A6;
    margin: 30px 0 18px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.hero .content .text{
    color: #2E34A6;
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
}

.hero .content .call-button{
    border-radius: 10px;
    background-color: #15038C;
    border: none;
    font-weight: bold;
    padding: 10px 15px;
    width: 250px;
    color: #04D9D9;
    margin-bottom: 18px;
}