article {
    background-color: #CEE1F2;
    display: flex;
    flex-direction: column;
}

article .hero-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}

article .hero-img{
    display: flex;
    align-items: center;
    flex-direction: column;
}

article .hero-text h1{
    color: #2E34A6;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

article .hero-text h2{
    color: #2E34A6;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

button{
    border-radius: 10px;
    background-color: #15038C;
    border: none;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    color: #04D9D9;
}