header .navbar{
    background-color: #2275a5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 70px;
}

header .navbar .links{
    display: flex;
    align-items: center;
    gap: 40px;
}

header .links a{
    color: white;
}

